body{
    background-color: rgb(255, 255, 255);
}
header{
    padding: 10px;
}
table{
    margin-top: 10px;
}
h1 {
    margin: 20px;
    color: rgb(111, 206, 17);
}
.ingredients {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
}
.recipe {
    padding: 20px;
    word-wrap: break-word; /* Agregamos esta propiedad */
}
#preparacion{
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
}

image{
   margin-top: 80px;
   word-wrap: break-word;
}
footer{
    margin-top: 15px ;
}